        {% raw %}
        <thead>
            <tr>
                <th>Size</th>
                <th>{{cut.header}}</th>
            </tr>
        </thead>        
        <div>
        <tbody>
            <tr>
                <td>Small</td>
                <td>{{cut.small}}</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>{{cut.medium}}</td>
            </tr>
            <tr>
                <td>Large</td>
                <td>{{cut.large}}</td>
            </tr>
            <tr>
                <td>X-Large</td>
                <td>{{cut.xlarge}}</td>
            </tr>
            <tr>
                <td>2X-Large</td>
                <td>{{cut.2xlarge}}</td>
            </tr>         
            <tr>
                <td>3X-Large</td>
                <td>{{cut.3xlarge}}</td>
            </tr>           
        </tbody>
           </div>
        {% endraw %}  