<div class="col-lg-3 blogPostCreative">
                <div class="blogThumb">
                    <a href="#"><img src="{{article.content}}" alt="" /></a>
                    <div class="date">AUG<br/><span>12</span></div>
                    <div class="thumbBar"></div>
                </div>
                <div class="blogExcerptCreative">
                <h4><a href="{{article.url}}">{{article.title}}</a></h4>
                <p>{{article.excerpt}}</p><br/>
                <div class="dividerWidget"></div>
                <div class="blogDetailsCreative">
                <p>POSTED IN <a href="#">{{blog.title}}</a></p>
                </div>
                </div>
            </div>