                <!-- <ul class="topPostList">
                {% for article in blogs["News"].articles limit:3%}
                    <li>
                        <a href="{{article.url}}"><img src="{{article.excerpt}}" alt="" class="img-responsive thumbnail"/></a>
                        <br>
                        <div class="related-border">
                            <h1 class="bebas font20"><a href="{{article.url}}">{{article.title | truncate:50 }}</a></h1>
                            <a href="{{article.url}}#disqus_thread"></a>
                            <a href="{{article.url}}"><h1>READ MORE</h1></a>
                        </div>
                    </li>
                {% endfor %}
                </ul> -->

<div id="popular" class="sidebox widget">
    <ul class="post-list">
        {% for article in blogs["News"].articles limit:4 %}
        <li class="related-border {% cycle 'margin-btm10','margin-btm10','' %}">
            <div class="icon-overlay"> <a href="{{article.url}}"><img class="img-responsive" src="{{article.excerpt}}" alt="" /> </a> </div>
            <div class="meta">
              <h6><a href="{{article.url}}">{{article.title | truncate: 20}}</a></h6>
              <em>{{article.published_at|date:'%b %-d, %Y'}}</em>
            </div>
        </li>
        {% endfor %}
    </ul>
      <!-- /.post-list -->
</div>