        {% raw %}
        <thead>
            <tr>
                <th>Size</th>
                <th>{{silicone.header}}</th>
            </tr>
        </thead>        
        <div>
        <tbody>
            <tr>
                <td>Small</td>
                <td>{{silicone.small}}</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>{{silicone.medium}}</td>
            </tr>
            <tr>
                <td>Large</td>
                <td>{{silicone.large}}</td>
            </tr>
            <tr>
                <td>X-Large</td>
                <td>{{silicone.xlarge}}</td>
            </tr>
            <tr>
                <td>2X-Large</td>
                <td>{{silicone.2xlarge}}</td>
            </tr>         
            <tr>
                <td>3X-Large</td>
                <td>{{silicone.3xlarge}}</td>
            </tr>           
        </tbody>
           </div>
        {% endraw %}  