<div class="row">
            <div class="col-lg-12">
            <!-- start tabs -->
                <ul class="tabs">
                    <!-- <li><a href="#tab1" class="button grey tab active">DESCRIPTION</a></li> -->
                    <li><a href="#tab3" class="button grey tab">Sizing</a></li>
<!--                     <li><a href="#tab2" class="button grey tab">SUBMIT A REVIEW</a></li> -->

                </ul>
<!--                 <div class="tabContent" id="tab1">
                    <h4>DESCRIPTION</h4>
                    <p>{{product.content}}</p>
                </div> -->
                <div class="tabContent" id="tab3">

                    <table class="itemTable shop">
                <tr>
                    <th>IMAGE</th>
                    <th>PRODUCT TITLE</th>
                    <th>QUANTITY</th>
                    <th>PRICE</th>
                    <th>TOTAL</th>
                </tr>
                {% for item in cart.items %}
                <tr>
                    <td>
                    <a class="remove-from-cart-button letters-white inline-block dark-gray-bg" href="/cart/change?line={{ forloop.index }}&quantity=0">x</a>
                    <a href="#"><img src="{{ item.product.featured_image.src | product_img_url: 'grande' }}" alt="{{ item.title | escape }}" width="80" alt="" /></a><div>

                                        </div></td>

                    <td><a href="{{ item.product.url | within: collections.all }}">{{ item.title }}}</a></td>
                    <td>


                        <input name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-min="" data-max="0" title="Qty" maxlength="12" class="cart-width" />

                    </td>
                    <td>{{ item.price | money }}</td>
                    <td>{{ item.line_price | money }}</td>
                </tr>


                {%endfor%}

            </table>

                </div>
<!--                 <div class="tabContent" id="tab2">
                    <h4>SUBMIT A REVIEW</h4>
                    <div class="dividerWidget"></div>
                    <div class="row">
                    <div class="col-lg-7">
                    <form class="contactForm" method="post" action="#">
                        <fieldset>
                        <input type="text" name="name" value="Your name" style="margin-right:2%;" />
                        <input type="text" name="email" value="Your email" />
                        <textarea name="review" placeholder="Your review"></textarea>
                        <input type="submit" name="submit" value="SEND" class="button red shopForm" />
                        </fieldset>
                    </form>
                    </div>
                    </div>
                </div> -->

            </div>
        </div><!-- end row -->