
<!-- start blog posts -->
<section class="blogCreative">
<h2>{{settings.athlete}} <span>NEWS</span> <br/>{% include 'divider' %}</h2>
    <div class="container">
        <div class="row">

            {% for article in blogs["News"].articles %}
            {% if article.tags contains'classic' %}
             <div class="col-lg-6">
             <div class="blogPostCreative">
                <div class="blogThumb">
				<a href="{{article.url}}"><img src="{{article.excerpt}}" alt="" /></a>
			{%endif%}

            {% if article.tags contains'video' %}
           <div class="col-lg-3">
           <div class="blogPostCreative">
                <div class="blogThumb hideDate">
				<iframe class="videoPost" style="border:none;" src="{{article.excerpt}}" allowfullscreen></iframe>
			{%endif%}

            {% if article.tags contains'small' %}
           <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
           <div class="blogPostCreative">
                <div class="blogThumb hideDate">
                <a href="{{article.url}}"><img src="{{article.excerpt}}" alt="" /></a>
            {%endif%}

			<div class="date">{{ article.published_at | date: '%b' }}<br/><span>{{ article.published_at | date: '%d' }}</span></div>
              <div class="thumbBar"></div>
</div>

                <div class="blogExcerptCreative">
                <h4><a href="{{article.url}}">{{article.title | truncate:20}}</a></h4>
                <p class="heightz">{{article.content | strip_html | truncate:180 }}</p><br/>
                <div class="dividerWidget"></div>
                <div class="blogDetailsCreative">
                <a href="{{ article.url }}" class="button blog">READ MORE</a>
                <p>POSTED IN <a href="#">{{blog.title}}</a></p>
                </div>
                </div>
            </div>
            </div>

{% endfor %}

        </div><!-- end row -->
        <br/><br/>
        <div class="dividerWidget"></div>
       <!--  <div class="wrapper"><a href="#" class="button grey">LOAD MORE</a></div> -->
    </div><!-- end blog post container -->
</section><!-- end blog post section -->
