{% unless page.handle == 'newsletter' or 'softball' %}
<div class="container">
<h2>{{page.title}}<br>{% include 'divider' %}</h2>
	<div class="row">
		<div class="col-xs-12">
			{{ page.content}}
		</div>
	</div>
</div>

{% endunless %}

{% if page.handle == 'newsletter' %}
<br>
<div class="container">
    <div class="col-xs-12 hidden-xs text-center">
    <!-- OBERTA_AD -->
    <div id='div-gpt-ad-1399407107124-1'>
    <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1399407107124-1'); });
    </script>
    </div>
    </div>
</div>

<!-- ObertoTiles -->
<div id='div-gpt-ad-1399407738878-0' class="visible-xs col-xs-12 text-center">
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1399407738878-0'); });
</script>
</div>


<br>

	<div class="sendy_banner">
		<div class="container">
			<div class="row content">
				<h2>NEWSLETTER</h2>
				<hr />
				<p>THANKS FOR SUBSCRIBING!</p>
				<a href="/" class="button subHeadBtn">BACK TO SITE</a>
			</div>

		</div>
	</div>
{% endif %}

{% if page.handle == 'fans' %}
<div ng-controller="FanCtrl">
	<section class="blogCreative">
		<div class="container">
			{% include 'featured-fans' %}
	    </div>
	</section>
	<section class="grey_bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<h2 class="text-left white"> Send me a <span>fan picture!</span> </h2><br>
					<p class="lead text-left"> I love seeing pictures of my fans. This is my way of letting you all know - I see you.<br><br> Want to be featured on the Fan Page?<br><br>
					Send your picture to <a href="mailto:fans@richardsherman25.com?subject=Fan Friday Submission">fans@richardsherman25.com</a>!!!</p>
					<br>
					<p class="lead">Tune in every Friday to see who made the featured Fans! </p>
					<br>
				</div>
				<div class="col-sm-6 col-xs-12">
					<img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/No-Richard-Sherman-_zpsc114efa9.jpg" class="text-center img-responsive img-thumbnail">
				</div>
			</div>
		</div>
	</section>
	<section class="white_bg">

		<h2 class="text-center">MY FANS<br>{% include 'divider' %}</h2>
		<br>
		<div class="container">
			<script src="http://neon.galleriadisplay.com/b625221ef63a32f1579d3f045f5a11e158c0d1d8/init.js"></script>
		</div>

	</section>
</div>
{% endif %}

{% if page.handle == 'softball' %}

<!-- <div class="white_bg hidden-lg">
	<div class="container softbanner">
		<img src="{{'softball_banner .jpg' | asset_url}}" alt="" class="img-responsive">
	</div>
</div> -->

{% include 'softball-slider' %}
<section class="white_bg">
	<h2 class="text-center">EVENT <span>INFO</span><br>{% include 'divider' %}</h2>
	<div class="text-center col-xs-12">
		<h3 class="bebas">Tickets on Sale Now! Starting at $29 each.</h3>

		<h3 class="bebas">Portions of proceeds will be donated to charities.</h3>
	</div>
</section>
{% include 'softball-btn' %}

{% include 'softballgallery' %}


{% elsif page.handle == 'about-softball' %}

<!-- <div class="white_bg">
	<div class="container">

	</div>
</div> -->



{% include 'about-tourny' %}


{% elsif page.handle == 'tourny-gallery' %}

<div class="container">
<h2>{{page.title}}<br>{% include 'divider' %}</h2>
	<div class="row">
		<div class="col-xs-12">
			{{ page.content}}
		</div>
	</div>
</div>

{% elsif page.handle == 'softball-celebs-2013' %}

{% include 'celebs' %}

{% endif %}
